.next-button{
    width: 130px;
    height: 38px;
    background-color: rgb(59, 82, 73);
    color: white;
    padding: 5px 5px;
    margin: 20px 100px 10px 100px;
}
.complete-button{
    width: 130px;
    height: 38px;
    background-color: rgb(138, 234, 146);
    color: black;
    padding: 10px 30px;
    margin: 20px 100px 10px 100px;
    
}
.next-button1{
    width: 130px;
    height: 38px;
    background-color: rgb(59, 82, 73);
    color: white;
    padding: 10px 30px;
    margin: 20px 100px 20px 10p;
    
}
.tail-container {
    height: 100%;
    width: 100%;
}
.flexed{}